DEBUG=false
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=.koyeb.app
CORS_ALLOWED_ORIGINS=https://YOUR-PROJECT.pages.dev
REDIS_URL=
CELERY_TASK_ALWAYS_EAGER=true
SUPABASE_URL=https://fypqnukqbxgnmpzojbna.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_uGZA1SQUtjapoIra9eTBDQ_wA3VVr2B
SUPABASE_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=mycar_finder_bot
CRON_SECRET=
